[submodule "vendor/libuv"]
	path = vendor/libuv
	url = https://github.com/libuv/libuv.git
[submodule "vendor/http_parser"]
	path = vendor/http_parser
	url = https://github.com/nodejs/http-parser.git
[submodule "vendor/protobuf"]
	path = vendor/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "vendor/cJSON"]
	path = vendor/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "vendor/mysql_connector"]
	path = vendor/mysql_connector
	url = https://github.com/Weikang01/mysql-connector-c--8.3.0-winx64.git
[submodule "vendor/mysql_connector_debug"]
	path = vendor/mysql_connector_debug
	url = https://github.com/Weikang01/mysql-connector-c--8.3.0-winx64-debug.git
